body{
    background: url(./pics/light.jpg) no-repeat;
    background-size: cover;
    padding: 0;
    color:#F7EF8A;
    min-height: 100vh;
    margin: auto;
    margin-top: 15%;
    height:50% ;
    width: 50%;
    align-items: center;
}
.container {
    background-color: transparent;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid #F7EF8A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{
    padding: auto;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: .5rem;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 0;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
label{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.character-amount-container{
    display: flex;
    align-items: center;
}
.number-input{
    width: 2rem;
}
.password-display{
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px solid#333;
    height: 2rem;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius:.5rem;
}
.btn{
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid #F7EF8A;
    color: white;
    padding: .5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}
.btn:hover{
    background-color: #F7EF8A ;
    color: black;
}